body{
    background-image: url("https://cdn.pixabay.com/photo/2017/08/12/10/13/background-2633962_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
div{
    background-color: white;
	margin: 10px;
	width: 25%;
	border: solid 5px lightblue;
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;

}
ul {
	list-style: disc inside;
    text-indent: 20px;
    list-style-type: none;
}

div.header, div.gems{
    background-color:#F0F0F0;
    ;
}
div.header, div.instructions{
    width: 50%;
    background-color:#F0F0F0;
}
.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
    height: 60px;
    padding-bottom: 50px;
}
.userTotal{
	width: 15%;
    height: 60px;
    padding-bottom: 50px;

}
.gems{
    clear: both;
    background-color:#F0F0F0;
}
.gemImage{
	height: 60px;
	margin: 10px;
}
